.close-button {
    background-color: transparent;
}

.close-button i {
    color: white;
    padding: 0;
}

.form {
    opacity: 0.9;
    border-radius: 10px;
    padding: 20px;
}

.add-list-button {
    background-color: transparent;
}

.add-list-button i {
    color: white;
    padding: 0;
}